<!-- <reactiveform></reactiveform>  -->
<!-- <app-mat-select></app-mat-select>   -->
<!-- <app-stepper></app-stepper>  -->
 <!-- <app-autocomplete></app-autocomplete>  -->
<!-- <app-autocompletefilter></app-autocompletefilter> -->
 <!-- <app-radio></app-radio> -->
 <!-- <app-mycomponent></app-mycomponent> -->
<ul>
    <li><a routerLink="reactiveform">reactiveform</a></li>
    <li> <a routerLink="mat-select">mat-select</a></li>
    <li><a routerLink="stepper">stepper</a></li>
    <li><a routerLink ="autocompletefilter">autocompletefilter</a></li>
    <li><a routerLink="autocomplete">autocomplete</a></li>
    <li><a routerLink="radio">radio</a></li>
    <li><a routerLink="mycomponent">mycomponent</a></li>
    <li><a routerLink="dialog">dialog</a></li>
</ul>
 <router-outlet></router-outlet>
